/* ----------------------------------------*/

@media screen and (max-width:1600px) {
    .resume {
        width: 21%;
    }

    .experiences:nth-child(4) .experience-detail .position {
        font-size: 1.8rem;
    }

    .experiences:nth-child(4) .num {
        font-size: 8.8rem;
    }
}

@media screen and (max-width:1536px) {
    .resume {
        width: 21.5%;
    }
}

@media screen and (max-width:1502px) {
    .resume {
        width: 22%;
    }
}

@media screen and (max-width:1468px) {
    .resume {
        width: 23%;
    }
}

@media screen and (max-width:1411px) {
    .about p {
        width: 63%;
    }
}

@media screen and (max-width:1366px) {

    .nav-opt a,
    .nav-opt .cv {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:1280px) {

    .nav-opt a,
    .nav-opt .cv {
        font-size: 1.2rem;
    }

    .experiences:nth-child(4) .experience-detail .position {
        font-size: 1.8rem;
        max-width: 80%;
    }

    .experience-list {
        padding: 0 20rem;
    }

    /* .experiences:nth-child(4) p.num {
        font-size: 8rem;
    } */
}

@media screen and (max-width:1225px) {
    .resume {
        width: 23.5%;
    }
}

@media screen and (max-width:1205px) {
    .resume {
        width: 24%;
    }
}

@media screen and (max-width:1175px) {
    .resume {
        width: 24.5%;
    }

    .experience-list {
        padding: 0 18rem;
    }

    .nav-opt {
        gap: 2rem;
    }

    .hero-img {
        width: 45%;
    }
}

@media screen and (max-width:1151px) {
    .logo {
        font-size: 2.4rem;
    }

    .resume {
        width: 25%;
    }
}

@media screen and (max-width:1128px) {
    .resume {
        width: 25.5%;
    }

    .experience-list {
        padding: 0 16rem;
    }
}

@media screen and (max-width:1105px) {
    .resume {
        width: 26%;
    }
}

@media screen and (max-width:1085px) {
    .resume {
        width: 26.5%;
    }

    .experience-list {
        padding: 0 14rem;
    }
}

@media screen and (max-width:1065px) {
    .resume {
        width: 27%;
    }

    .experience-list {
        padding: 0 13rem;
    }
}

@media screen and (max-width:1045px) {
    .resume {
        width: 27.5%;
    }

    .experience-list {
        padding: 0 12rem;
    }
}

@media screen and (max-width:1025px) {
    header {
        padding: 2.8rem 8rem;
    }

    .resume {
        width: 28%;
    }

    .nav-opt {
        gap: 1.6rem;
    }
}

@media screen and (max-width:1008px) {
    .resume {
        width: 28.5%;
    }

    .experience-list {
        padding: 0 11rem;
    }
}

@media screen and (max-width:990px) {
    .resume {
        width: 29%;
    }
}

@media screen and (max-width: 980px) {

    header {
        padding: 2.8rem 5rem;
    }

    .mobile-navbar-btn {
        display: block;
        position: relative;
    }

    .nav-opt {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--primary);
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        gap: 2rem;
    }

    .nav-opt a,
    .nav-opt .cv {
        font-size: 1.6rem;
    }

    header.active .nav-opt {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    header.active .mobile-navbar-btn i:nth-child(2) {
        display: block;
    }

    header.active .mobile-navbar-btn i:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width:972px) {
    .resume {
        width: 29.5%;
    }

    .experience-list {
        padding: 0 10rem;
    }
}

@media screen and (max-width:956px) {
    .resume {
        width: 30%;
    }
}

@media screen and (max-width:940px) {
    .resume {
        width: 30.5%;
    }

    .experience-list {
        padding: 0 9rem;
    }
}

@media screen and (max-width:924px) {
    .resume {
        width: 31%;
    }
}

@media screen and (max-width:909px) {
    .resume {
        width: 31.5%;
    }

    .experience-list {
        padding: 0 7rem;
    }

    .about p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:895px) {
    .resume {
        width: 32%;
    }
}

@media screen and (max-width:825px) {
    .resume {
        width: 34.5%;
    }

    .num {
        font-size: 7rem;
    }

    .hero-img {
        width: 50%;
    }

    .about p {
        font-size: 1.6rem;
        width: 80%;
    }

    .experiences:nth-child(4) .num {
        font-size: 7rem;
    }

    .experiences:nth-child(4) .experience-detail .position {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:770px) {

    .hero-text h1 {
        font-size: 3.6rem;
    }

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .socials {
        font-size: 2.8rem;
    }

    .hero-img {
        width: 50%;
    }

    .resume {
        width: 37%;
    }

    .experience-list {
        padding: 0 5rem;
    }
}

@media screen and (max-width:600px) {

    .hero-text h1 {
        font-size: 3.2rem;
    }

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .socials {
        font-size: 2.8rem;
    }

    .hero-img {
        width: 55%;
    }

    .resume {
        width: 42%;
    }

    .experience-list {
        padding: 0 5rem;
    }

    .experiences {
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .exp-img {
        width: 50%;
        /* display: none; */
    }

    .project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
    }

    .project-img {
        width: 40%;
    }

    .project-description {
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}

@media screen and (max-width:560px) {

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .socials {
        font-size: 2.8rem;
    }

    .hero-img {
        width: 55%;
    }

    .resume {
        width: 44%;
    }
}

@media screen and (max-width:530px) {

    .hero-text h1 {
        font-size: 2.8rem;
    }

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .socials {
        font-size: 2.8rem;
    }

    .hero-img {
        width: 55%;
    }

    .resume {
        width: 44%;
    }
}

@media screen and (max-width:505px) {

    .hero-text h1 {
        font-size: 2.6rem;
    }

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .socials {
        font-size: 2.8rem;
    }

    .hero-img {
        width: 55%;
    }

    .resume {
        width: 45%;
    }
}

@media screen and (max-width:495px) {

    .resume {
        width: 50%;
    }
}

@media screen and (max-width:460px) {

    .hero-text h1 {
        font-size: 2.4rem;
    }

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .socials {
        font-size: 2.8rem;
    }

    .hero-img {
        width: 65%;
    }

    .resume {
        width: 52%;
    }

    .skill_tool-name {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:430px) {

    header {
        padding: 2.8rem 2.5rem;
    }

    main {
        gap: 3rem;
    }

    .hero {
        gap: 3rem;
    }

    .hero-text h1 {
        font-size: 2.2rem;
    }

    .hero-text h2 {
        font-size: 1.4rem;
    }

    .socials {
        font-size: 2.2rem;
    }

    .hero-img {
        width: 65%;
    }

    .resume {
        width: 55%;
    }

    .skill_tool-name {
        font-size: 1.4rem;
    }

    .project {
        width: 90%;
    }

    .project-img {
        width: 50%;
    }
}

@media screen and (max-width:391px) {

    header {
        padding: 2.8rem 2.2rem;
    }

    main {
        gap: 3rem;
    }

    .hero {
        gap: 3rem;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text h2 {
        font-size: 1.4rem;
    }

    .socials {
        font-size: 2.2rem;
    }

    .hero-img {
        width: 65%;
    }

    .resume {
        width: 58%;
    }

    .skill_tool-name {
        font-size: 1.4rem;
    }

    .project {
        width: 95%;
    }
}

@media screen and (max-width:376px) {
    .resume {
        width: 60%;
    }

    .resume p {
        font-size: 1.4rem;
    }

    .hero-img {
        width: 80%;
    }
}

@media screen and (max-width:341px) {

    header {
        padding: 2.8rem 2rem;
    }

    main {
        gap: 3rem;
        padding: 1rem 3rem;
    }

    .hero {
        gap: 3rem;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
    }

    .hero-text h1 {
        font-size: 1.8rem;
    }

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .socials {
        font-size: 2rem;
    }

    .hero-img {
        width: 80%;
    }

    .resume {
        width: 68%;
    }

    .resume p {
        font-size: 1.4rem;
    }

    .skill_tool-name {
        font-size: 1.4rem;
    }

    .experiences {
        padding: 2rem 1rem;
    }

    .position {
        font-size: 1.6rem;
    }

    .company {
        font-size: 1.4rem;
    }

    .project {
        width: 100%;
    }
}