/* Index */
/* ----------------------------------------*/

@media screen and (max-width:1720px) {

    .hero h1 {
        width: 80vw;
    }

    .work {
        gap: 12rem;
    }
}

@media screen and (max-width:1445px) {

    .hero h1 {
        width: 80vw;
    }

    .work {
        gap: 10rem;
    }
}

@media screen and (max-width:1350px) {

    /* .nav-opt a,
    .nav-opt .cv {
        font-size: 1.8rem;
    } */

    .hero h1 {
        font-size: 4.4rem;
        width: 80vw;
    }

    .project-details {
        padding: 0 7rem;
    }

    .work {
        gap: 8rem;
    }

    .about h1 {
        font-size: 4.8rem;
    }
}

@media screen and (max-width:1190px) {

    .about h1 {
        font-size: 4.2rem;
        width: 65vw;
    }

    .about-me {
        line-height: 1.5;
    }
}

@media screen and (max-width:1030px) {

    .hero h1 {
        width: 90vw;
    }

    .project-details {
        padding: 0 6rem;
    }

    .project-btn {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 980px) {

    header {
        padding: 3.2rem 5rem;
    }

    footer {
        padding: 6rem 5rem;
    }

    .hero h1 {
        width: 90vw;
    }

    .about h1 {
        font-size: 4rem;
        width: 70vw;
    }

    .mobile-navbar-btn {
        display: block;
        position: relative;
    }

    .nav-opt {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--white);
        transform: translateX(100%);
        transition: all 0.3s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        gap: 4rem;
    }

    .nav-opt a {
        font-size: 3.2rem;
    }

    .nav-opt .contact {
        font-size: 1.8rem;
        padding: 1.6rem 4rem;
    }

    header.active .nav-opt {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    header.active .mobile-navbar-btn i:nth-child(2) {
        display: block;
    }

    header.active .mobile-navbar-btn i:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width:770px) {

    .hero h1 {
        font-size: 3.6rem;
        width: 90vw;
    }

    .about h1 {
        font-size: 4rem;
        width: 85vw;
    }

    .about-me {
        font-size: 1.6rem;
    }

    .client-list li {
        font-size: 1.6rem;
    }

    .project-details {
        padding: 0 4.8rem;
    }

    .project-name {
        font-size: 3.2rem;
    }
}

@media screen and (max-width:640px) {

    header {
        padding: 3.2rem 4rem;
    }

    main {
        gap: 6rem;
        margin-top: 15rem;
    }

    .hero h1 {
        font-size: 3.6rem;
        width: 90vw;
    }

    .details {
        gap: 1.8rem;
        width: 65%;
    }

    .project-details {
        padding: 0 4.4rem;
    }

    .project-name {
        font-size: 3rem;
    }

    .about {
        flex-direction: column;
        gap: 2rem;
    }

    .about-description-title {
        font-size: 2.4rem;
    }

    footer {
        flex-direction: column;
        gap: 2.8rem;
        padding: 5rem 0;
    }
}

@media screen and (max-width:545px) {

    .hero h1 {
        font-size: 3.4rem;
    }

    .work {
        gap: 7rem;
    }

    .details {
        gap: 1.6rem;
        width: 100%;
    }

    .project-details {
        flex-direction: column;
        padding: 0 4rem;
        gap: 2.8rem;
        align-items: flex-start;
    }

    .project-name {
        font-size: 2.8rem;
    }

    .project-description {
        width: 100%;
    }
}

@media screen and (max-width:480px) {

    main {
        gap: 5rem;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .project-details {
        padding: 0 3.6rem;
    }

    .project-name {
        font-size: 2.8rem;
    }

    .nav-opt a {
        font-size: 2.4rem;
    }
}

@media screen and (max-width:440px) {

    header {
        padding: 3.2rem 3rem;
    }

    main {
        gap: 3.6rem;
        margin-top: 13rem;
    }

    .hero h1 {
        font-size: 2.8rem;
    }

    .work {
        gap: 6rem;
    }

    .project-details {
        padding: 0 3.6rem;
    }

    .project-name {
        font-size: 2.8rem;
    }
}

@media screen and (max-width:380px) {

    header {
        padding: 3.2rem 2.4rem;
    }

    .logo {
        font-size: 2.4rem;
    }

    main {
        gap: 3.2rem;
    }

    .hero h1 {
        font-size: 2.4rem;
        letter-spacing: 2.8px;
    }

    .work {
        gap: 5rem;
    }

    .project-details {
        padding: 0 3rem;
        line-height: 1.5;
    }

    .project-name {
        font-size: 2.4rem;
    }
}

@media screen and (max-width:325px) {

    header {
        padding: 3.2rem 2.2rem;
    }

    .logo {
        font-size: 2.4rem;
    }

    main {
        gap: 3.2rem;
        margin-top: 12rem;
    }

    .hero h1 {
        font-size: 2rem;
        letter-spacing: 2.8px;
    }

    .project-details {
        padding: 0 2.4rem;
        line-height: 1.5;
    }

    .project-name {
        font-size: 2rem;
    }

    .project-description {
        font-size: 1.4rem;
    }

}