@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #525FE1;
    --white: #FFF;
    --black: #1B2430;
    --dark: #16213E;
    --light: #FFF0F5;
}

.darkmode {
    --primary: #cbcff6;
    --white: #1B2430;
    --black: #FFF;
    --dark: #FFF0F5;
    --light: #16213E;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --primary: #cbcff6;
        --white: #1B2430;
        --black: #FFF;
        --dark: #FFF0F5;
        --light: #16213E;
    }
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Albert Sans', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--white);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem;
    color: var(--black);
    background: var(--white);
    position: fixed;
    width: 100vw;
    z-index: 10;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

a:visited,
a:focus {
    text-decoration: none;
}

.logo {
    font-weight: 500;
    font-size: 2.8rem;
    letter-spacing: 1.4px;
    color: var(--black);
    font-family: 'Montserrat', 'Albert Sans', sans-serif;
}

.logo:visited,
.logo:focus {
    color: var(--black);
}

.nav-opt {
    display: flex;
    gap: 2.8rem;
    align-items: center;
}

.nav-opt a {
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    padding: .5rem;
}

.nav-opt .contact {
    background: var(--dark);
    color: var(--light);
    padding: 1.4rem 2.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.contact:hover {
    background: var(--primary);
}

.nav-opt .cv {
    background: var(--dark);
    color: var(--light);
    padding: 1.8rem 2.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.cv:hover {
    background: var(--primary);
}

.nav-opt a:not(:nth-last-child(2)):hover {
    /* box-shadow: 0 1px 0px 0px var(--primary); */
    color: var(--primary);
}

.mobile-navbar-btn {
    display: none;
    cursor: pointer;
}

.mobile-nav-icon {
    font-size: 2rem;
}

.mobile-navbar-btn i:nth-child(2) {
    display: none;
}

.toggle-btn {
    border: 2px solid var(--black);
    cursor: pointer;
}

.toggle-btn i {
    font-size: 2rem;
    color: var(--black);
    padding: 1rem;
}

/* Footer */
footer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    color: var(--white);
    font-size: 1.8rem;
    padding: 8rem 8rem;
    gap: 1rem;
}

.foot-logo {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1.4px;
    font-family: 'Montserrat', 'Albert Sans', sans-serif;
}

.socials {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
}

.socials a {
    text-decoration: none;
    color: var(--primary);
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--primary);
    padding: 0.7rem 1rem;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.socials a:hover {
    scale: 0.9;
    background: var(--black);
    color: var(--white);
}

/* Under Upgrade */

.under-upgrade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.under-upgrade h1 {
    margin-top: 10rem;
    font-size: 5rem;
    color: var(--primary);
}

.under-upgrade h2 {
    font-size: 2rem;
    color: var(--dark);
}

.under-upgrade img {
    width: 45vw;
}

main {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 18rem;
}

/* Index Page */
/* Hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.hero h1 {
    font-size: 5.6rem;
    font-weight: 400;
    color: var(--primary);
    letter-spacing: 2px;
    overflow: hidden;
    width: 55vw;
    line-height: 1.4;
    font-family: 'Albert Sans', 'Montserrat', sans-serif;
}

.hero strong {
    font-family: 'Montserrat', 'Albert Sans', sans-serif;
    font-weight: 600;
}

/* Work */

.work {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
}

.project-img {
    width: 90vw;
}

.project-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10rem;
    width: 100vw;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 70%;
}

.project-name {
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--black);
}

.project-description {
    font-size: 1.6rem;
    width: 90%;
    color: var(--black);
}

.project-btn {
    background: var(--dark);
    color: var(--light);
    padding: 1.4rem 2.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    width: fit-content;
}

.project-btn:hover {
    background: var(--primary);
}

/* About Page */
/* Hero */

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90vw;
    padding: 2rem 0;
}

.about h1 {
    font-size: 5.6rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 2px;
    overflow: hidden;
    width: 55vw;
    line-height: 1.4;
    font-family: 'Montserrat', 'Albert Sans', sans-serif;
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--black);
}

.about-me {
    font-size: 1.8rem;
    line-height: 1.6;
}

.about-description hr {
    height: 2px;
    background: var(--primary);
    border: none;
}

.about-description-title {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1.4;
}

.client-list {
    padding-left: 2rem;
    list-style-type: square;
}

.client-list li {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* Contact Page */
/* Hero */

.contact-me {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90vw;
    padding: 2rem 0;
}

.contact-me h1 {
    font-size: 5.6rem;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 2px;
    overflow: hidden;
    width: 55vw;
    line-height: 1.4;
    font-family: 'Montserrat', 'Albert Sans', sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}